# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Build output
dist
dist-ssr
/tmp
/out-tsc
*.local

# Node
node_modules
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test output
/coverage

# Caches
.vite
.eslintcache

# Environment files
.env
.env.*
!.env.example

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db
